<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compactible" content="ie-edge">
    <title>Painel - Delonix</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>

    <div class="d-flex" id="wrapper">
        <!-- SIDEBAR-->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">
                <span>
                    <img src="{{ url_for('static', filename='img/logo.png') }}">OpenWNMS
                </span>
            </div>
            <div class="list-group list-group-flash border-right">
                <a href="/" class="list-group-item list-group-item-action"><i class="fas fa-home"></i>Dashboard</a>
                {% block report %}{% endblock %}
            </div>
        </div>

        <!-- CONTENT -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light" id="delonix-navbar">
                <span id="menu-toggle" class="rm-auto">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" class="mx-auto d-block">
                </span>
                <a class="navbar-brand" href="#" id="navbar-site-title">Painel</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#delonix-navbar-collapse"
                    aria-controls="delonix-navbar-collapse" aria-expanded="false" aria-label="Exibe toda navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="delonix-navbar-collapse">
                    <form class="form-inline" id="navbar-search-form">
                        <input type="text" class="form-control form-field delonix-form-field" placeholder="pesquisar" id="navbar-search-field">
                    </form>

                    <div id="navbar-profile" class="ml-auto">
                        <img src="https://avatars2.githubusercontent.com/u/31959169?s=460&u=aee51d0ed3465add7eb53b09ad4bd7f3ec294669&v=4" alt="">
                        <span>Walter Angolar</span>
                    </div>
                </div>
            </nav>

            <div id="content" class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <!-- JS do Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script>
        $('#menu-toggle').click(function(event) {
            event.preventDefault(); // proibe o evento do tag
            $('#wrapper').toggleClass('toggled'); // add class || remove class
        });
    </script>
    <script src="{{ url_for('static', filename='assets/js/chart/Chart.min.js') }}"></script>
</body>
</html>